	<html>
  <body>
    <figure class='image-container'>
      <img id='chosen-image' width="128" height="128">
      <figcaption id='file-name'></figcaption>
    </figure>
    <form action='/upload/send_file' method='post' enctype='multipart/form-data'>
      <input type='file' id='img' name='img' accept='image/*' />
      <input type='submit' />
    </form>
	</body>
  

<script src="./javascript/add-post.js"></script>
	</html>
