	
<nav class='navbar navbar-expand-lg navbar-light bg-light wish-list-nav'>
  <a class='navbar-brand' href='#'><h1 class='company-title'>Wish List</h1></a>
  <button
    class='navbar-toggler'
    type='button'
    data-toggle='collapse'
    data-target='#navbarNav'
    aria-controls='navbarNav'
    aria-expanded='false'
    aria-label='Toggle navigation'
  >
    <span class='navbar-toggler-icon'></span>
  </button>
  <div class='collapse navbar-collapse' id='navbarNav'>
    <ul class='navbar-nav nav-list'>
      <li class='nav-item active' data-bs-toggle="tooltip" data-bs-placement="top" title="Home">
        <a class='nav-link' href='/dashboard'>Home
          <span class='sr-only'>(current)</span></a>
      </li>
      <li class='nav-item' data-bs-toggle="tooltip" data-bs-placement="top" title="View List">
        <a class='nav-link' href='/shopping'>View List</a>
      </li>
      <li class='nav-item' data-bs-toggle="tooltip" data-bs-placement="top" title="Upload">
        <a class='nav-link' href='/upload'>Create items</a>
      </li>
      <li class='nav-item' data-bs-toggle="tooltip" data-bs-placement="top" title="Logout">
        <a class='nav-link'id="logout" href='/'>Logout</a>
      </li>
    </ul>
  </div>
</nav>
<div class="cutom-row">
<div class='row'>
    <div class='col-md-9'>
    <ol class="row">  
      <li class="input_form">
        <figure class='image-container'>
          <img id='chosen-image' src="/images/home.png" width="128" height="128">
          <figcaption id='file-name'></figcaption>
        </figure>
        <form action='/upload/send_file' method='post' enctype='multipart/form-data'>
          <input type='file' id='img' name='img' accept='image/*' />
          <label>Product Name</label>
          <input type="text" id="product_name" name="product_name"></input><br>
          <label>Product Note</label>
          <input type="text" id="product_note"name="product_note"></input><br>
          <label>Price</label>
          <input type="text" id="price"name="price"></input><br>
          <label>Desired Price</label>
          <input type="text" id="desired_price"name="desired_price"></input><br>
          <label>Quantity</label>
          <input type="text" id="quantity"name="quantity"></input><br>
          <label>Category</label>
          <select id="category_id" name="category_id"><br>
          {{#each cats as |cat|}}
              {{> category-list cat }}
          {{/each}}
          </select>
          <select id="tag_id" name="tag_id"><br>
          {{#each tags as |tag|}}
              {{> tag-list tag }}
          {{/each}}
          </select>
          <input type='submit'class='btn btn-primary' value="Submit"></input>
        </form>
    </li>
    <li class="input_form">
        <form action='/api/categories' method='post' enctype='form-data'>   
          <label>Category Name</label>
          <input type="text" id="category_name" name="category_name"></input><br><br><br>
          <input type='submit'class='btn btn-primary' value="Submit"></input>
        </form>
    </li>
    <li class="input_form">
        <form action='/api/tags' method='post' enctype='form-data'>   
          <label>Tag Name</label>
          <input type="text" id="tag_name" name="tag_name"></input><br><br><br>
          <input type='submit'class='btn btn-primary' value="Submit"></input>
        </form>
    </li>
    </ol>
  </div>
<div id='cats' data={{cat}}></div>
</div>
  
  
  
  
  
  
  
  
  
  
  
 
  
<div id='cat' data={{cat}}></div>

<script src='/javascript/homepage.js'></script>
	</html>
