{{!-- <div class="wrapper">
<header>
<div class="">
    <h1>
        <div class="h_container">  
          <a class="H_link" href="/">Home</a>
          <a class="H_link" href="/upload">Upload</a>
           
          {{#if loggedIn}}
          <a class="H_link" id="logout" href="/">Logout</a>        
          {{/if}}
       </div>
       </br> 
    </h1>
</div>
</header>

<div class="row">
  <div class="col-12 col-md-3 left" id="left_list">
  </div>
  <div class="col-12 col-md-9 right">
    <ol>  
      {{#each posts as |post|}}

      {{> category-info post }}

      {{/each}}
    </ol>
  </div>
</div>
</div>


 <div class="col-12 col-md-9 right">
 </div>
<div id="cat" data={{cats}}></div>
 {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}} --}}

{{! Navigation }}
<nav class='navbar navbar-expand-lg navbar-light bg-light wish-list-nav'>
  <a class='navbar-brand' href='#'><h1 class='company-title'>Wish List</h1></a>
  <button
    class='navbar-toggler'
    type='button'
    data-toggle='collapse'
    data-target='#navbarNav'
    aria-controls='navbarNav'
    aria-expanded='false'
    aria-label='Toggle navigation'
  >
    <span class='navbar-toggler-icon'></span>
  </button>
  <div class='collapse navbar-collapse' id='navbarNav'>
    <ul class='navbar-nav nav-list'>
      <li class='nav-item active' data-bs-toggle="tooltip" data-bs-placement="top" title="Home">
        <a class='nav-link' href='/dashboard'>Home
          <span class='sr-only'>(current)</span></a>
      </li>
      <li class='nav-item' data-bs-toggle="tooltip" data-bs-placement="top" title="Create List">
        <a class='nav-link' href='#'>Create List</a>
      </li>
      <li class='nav-item' data-bs-toggle="tooltip" data-bs-placement="top" title="View List">
        <a class='nav-link' href='#'>View List</a>
      </li>
   
      <li class='nav-item' data-bs-toggle="tooltip" data-bs-placement="top" title="Logout">
        <a class='nav-link' href='/logout'>Logout</a>
      </li>
    </ul>
  </div>
</nav>
<div class="cutom-row">
<div class='row'>
  <div class='col-md-3' id='left_list'></div>
  <div class='col-md-9'>
    <ol class="row">  
      {{#each posts as |post|}}

     {{> category-info post }}

      {{/each}}
    </ol>
  </div>
</div>
<div id='cat' data={{cats}}></div>
</div>

<script src='/javascript/homepage.js'></script>