
<nav class='navbar navbar-expand-lg navbar-light bg-light wish-list-nav'>
  <a class='navbar-brand' href='#'><h1 class='company-title'>Wish List</h1></a>
  <button
    class='navbar-toggler'
    type='button'
    data-toggle='collapse'
    data-target='#navbarNav'
    aria-controls='navbarNav'
    aria-expanded='false'
    aria-label='Toggle navigation'
  >
    <span class='navbar-toggler-icon'></span>
  </button>
  <div class='collapse navbar-collapse' id='navbarNav'>
    <ul class='navbar-nav nav-list'>
      <li class='nav-item active' data-bs-toggle="tooltip" data-bs-placement="top" title="Home">
        <a class='nav-link' href='/dashboard'>Home
          <span class='sr-only'>(current)</span></a>
      </li>
      <li class='nav-item' data-bs-toggle="tooltip" data-bs-placement="top" title="View List">
        <a class='nav-link' href='#'>View List</a>
      </li>
      <li class='nav-item' data-bs-toggle="tooltip" data-bs-placement="top" title="Upload">
        <a class='nav-link' href='/upload'>Create items</a>
      </li>
      <li class='nav-item' data-bs-toggle="tooltip" data-bs-placement="top" title="Logout">
        <a class='nav-link' id="logout" href='/'>Logout</a>
      </li>
    </ul>
  </div>
</nav>
<div class="cutom-row">
<div class='row'></div>
  <div class='col-md-9'>
    <ol class="row"id="display">  
      {{#each posts as |post|}}

     {{> shopping-info post }}

      {{/each}}
    </ol>
  </div>
</div>
<div id='cat' data={{cats}}></div>
</div>

<script src='/javascript/delete-post.js'></script>