* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
}

body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #333;
}
header {
  border-bottom: 1px solid #ccc;
  padding: 2%;
  background-color: #321a08;
  color: white;
}
.H_link {
  padding-top: 5%;
  padding-bottom: 2%;
  color: rgb(223, 248, 235);
  display: inline;
  font-size: 25px;
  text-decoration: none;
}
#header_title {
  padding: 2%;
  width: 380px;
  background-color: rgb(223, 248, 235);
  box-shadow: 2px 5px #888888;
  font-size: larger;
  text-align: center;
  font-weight: bold;
  border-radius: 10px;
}

.h_container {
  width: 450px;
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: large;
  display: block;
  padding: 20px;
  border-radius: 10px;
  margin: 15px;
  background-color: lightgrey;
  text-align: center;
  color: black;
  box-shadow: 5px 10px 15px black;
}
.title:hover {
  color: black;
  padding: 40px;
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0), #003ad48a);
  transition: padding 1s background-image 2s;
}

.info {
  display: inline-flex;
  font-size: small;
}
.post,
.comment-form,
.new-post-form,
.login-form {
  padding-right: 5%;
  padding-left: 5%;
}
.card {
  width: 100%;
  border-style: solid;
  background-color: rgb(223, 248, 235);
  min-height: 100px;
}

a,
#btn_type {
  color: green;
}
.edit-post-form {
  padding: 5%;
}

.list,
.post-list {
  list-style-type: none;
}
#chosen-image {
  width: 120px;
  height: 120px;
}

a {
  text-decoration: none;
  color: #225ca3;
  font-weight: bold;
  transition: color 0.1s;
}

a:hover {
  color: #3486eb;
}

button {
  background-color: #225ca3;
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color 0.1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #3486eb;
}

.post-list {
  margin: 0;
  padding: 0;
}

textarea,
input {
  padding: 0.5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus,
input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
}

header h1 {
  font-size: 1em;
}

main {
  flex: 1;
  padding: 2% 4%;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #225ca3;
  font-size: 100%;
  font-weight: bold;
  transition: color 0.1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: #3486eb;
}

.delete-post-btn {
  background-color: #d41414;
}

.delete-post-btn:hover {
  background-color: #ff643d;
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.upvote-btn {
  background-color: #197d0f;
  transition: background-color 0.1s;
}

.upvote-btn:hover {
  background-color: #1f9c13;
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: #fff5eb;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: 0.5%;
  opacity: 0.6;
}

.new-post-form input {
  width: 300px;
}

.edit-post-form {
  margin-bottom: 5%;
}

footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}

.parent {
  /* margin-top: 20vh; */
  font-weight: bolder;
  font-size: 1.5rem;
  height: 100vh;
  background-size: cover;
  background-image: url('../images/m.jpg');
}
.inner {
  width: 25%;
  margin: auto;
  position: relative;
  top: 20%;
}
.inner button {
  text-align: center;
}
.signup {
  text-decoration: none !important ;
}
/* Navigation */
.wish-list-nav {
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0), #ffeb3b);
  font-size: 1.5em;
  gap: 2rem;
  height: 150px;
}

.nav-list {
  gap: 2rem;
}

.nav-list a {
  color: black !important;
}

.nav-list a:hover {
  color: #f44336 !important;
}

@media only screen and (max-width: 1200px) {
  /*Big smartphones [426px -> 600px]*/
  .wish-list-nav {
    height: 100px !important;
  }
}

.company-title {
  font-weight: bolder;
  animation: title-animation 10s infinite;
  font-style: oblique 60deg;
  font-size: 2rem;
  font-family: 'Merriweather', serif;
}
@keyframes title-animation {
  0% {
    color: black;
  }
  15% {
    color: red;
  }
  25% {
    color: green;
  }
  75% {
    color: #ff643d;
  }
  100% {
    color: blueviolet;
  }
}

.category-card {
  border-radius: 20px;
}
.category-card:hover {
  box-shadow: 5px 10px rgb(184, 32, 32);
  border: 5px solid rgb(184, 32, 32);
  padding: 40px;
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0), #378d34);
}

.cutom-row .row {
  justify-content: space-evenly;
}
